body {
    margin: 0px;
    background-color: #f2f2f2;
}

.main {
    display: flex;
    flex-direction: row;
}

.side-hero {
    min-height: 100vh;
    min-width: 40vw;
    background-image: url("../public/lidya-nada-tXz6g8JYYoI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.credit {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;
    color: #ffffff;
    font-size: 11px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

.signup-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form > div, .log-in, .signup-header {
    padding-left: 25px;
}

.form-box {
    background-color: white;
    box-shadow: 2px 5px 7px -5px grey;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.btn {
    color: white;
    font-size: 1.1rem;
    transition: background-color 350ms ease;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    box-shadow: 2px 2px 5px grey;
}

.btn-submit:hover {
    background-color: #023059;
}

.btn-submit {
    background-color: #04B2D9;

}

.btn-reset {
    background-color: #038C5A;
}

.btn-reset:hover {
    background-color: #014029;
}

form {
    /* border: 1px dashed blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
    max-width: 600px;
}

.input-fields>label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    width: 200px;
    padding: 2px 7px;
}

.buttons {
    margin-top: 10px;
}